In [1]:
import numpy as np
import matplotlib.pyplot as plt
import io
import torch.nn as nn
import torch
import umap.plot
from umap.umap_ import UMAP
import pandas as pd

## Generate UMAP embedding

In [ ]:
val_data = np.load("val_data.npy", allow_pickle=True)

In [ ]:
val_data[34983][0].shape

In [ ]:
all_x = np.array([x[0].reshape(28,28).flatten() for x in val_data])

In [ ]:
embedding = UMAP().fit(all_x);

In [ ]:
df = pd.DataFrame(embedding.embedding_, columns = ['x', 'y'])

In [ ]:
df.plot.scatter(x='x', y='y')

In [ ]:
all_y = np.array([x[1] for x in val_data])

In [ ]:
classes = ['airplane',
           'apple',
           'bee',
           'car',
           'dragon',
           'mosquito',
           'moustache',
           'mouth',
           'pear',
           'piano',
           'pineapple',
           'smiley face',
           'train',
           'umbrella',
           'wine bottle']

In [ ]:
df['class'] = all_y

In [ ]:
df['class_name'] = df['class'].apply(lambda x: classes[x])

In [ ]:
model = nn.Sequential(
    nn.Conv2d(1, 16, 3, padding='same'),
    nn.ReLU(),
    nn.MaxPool2d(2),
    nn.Conv2d(16, 32, 3, padding='same'),
    nn.ReLU(),
    nn.MaxPool2d(2),
    nn.Conv2d(32, 32, 3, padding='same'),
    nn.ReLU(),
    nn.MaxPool2d(2),
    nn.Flatten(),
    nn.Linear(288, 128),
    nn.ReLU(),
    nn.Linear(128, len(classes)),
)

checkpoint = torch.load('./model_lessCapacity.pth', map_location=torch.device('cpu'))
model.load_state_dict(checkpoint)

model.eval()

In [ ]:
y_hats = []
for sketch_index in range(300000):
    x = val_data[sketch_index][0]
    logits = model(torch.tensor(x).unsqueeze(1))
    y_hat = np.argmax(logits.detach().numpy())
    y_hats.append(y_hat)

In [ ]:
df['predicted'] = y_hats

In [ ]:
df['predicted_name'] = df['predicted'].apply(lambda x: classes[x])

In [ ]:
df.head()

In [ ]:
#df.to_csv('umap.csv')

## UMAP Last Conv Layer

In [ ]:
last_cl_representations = []
for sketch_index in range(300000):
    x = val_data[sketch_index][0]
    last_cl = model[:7](torch.tensor(x).unsqueeze(1))
    last_cl_representations.append(last_cl)

In [ ]:
last_cl_np = np.array(list(map(lambda tensor: tensor.squeeze(0).detach().numpy().flatten(), last_cl_representations)))

In [2]:
last_cl_np = np.load("last_convolutional_layer.npy", allow_pickle=True)

In [8]:
embedding_cl = UMAP().fit(last_cl_np);

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

In [9]:
df_cl = pd.DataFrame(embedding_cl.embedding_, columns = ['x', 'y'])

In [11]:
df_cl.shape

(300000, 2)

In [27]:
df_cl.to_csv('umap_cl.csv')

In [13]:
umap_df = pd.read_csv("./umap.csv")

In [19]:
umap_df.

AttributeError: 'DataFrame' object has no attribute 'drop_index'

In [32]:
extended_df = pd.concat([umap_df, df_cl], axis=1)[['x','y','class','class_name','predicted','predicted_name','x_cl','y_cl']]

In [33]:
extended_df.to_csv('umap_extended.csv')

In [34]:
extended_df.head()

,x,y,class,class_name,predicted,predicted_name,x_cl,y_cl
0,10.439865,11.399223,14,wine bottle,14,wine bottle,10.261770,12.589383
1,-1.522812,9.091824,9,piano,9,piano,-1.679909,6.546764
2,-0.078322,6.752753,9,piano,9,piano,-2.918781,5.499226
3,-1.777769,8.416865,12,train,12,train,-1.568735,6.539262
4,3.492680,4.150504,11,smiley face,11,smiley face,4.227337,5.325876

In [36]:
extended_df[(extended_df.x > 10) & (extended_df.x < 10.1) & (extended_df.y > 10) & (extended_df.y < 10.1) ]

,x,y,class,class_name,predicted,predicted_name,x_cl,y_cl
459,10.058564,10.078728,10,pineapple,10,pineapple,8.655949,10.818340
7635,10.029596,10.046811,10,pineapple,10,pineapple,7.941402,10.687274
11596,10.047059,10.005007,10,pineapple,10,pineapple,8.628550,10.716096
13050,10.058895,10.094740,10,pineapple,10,pineapple,8.575015,10.723920
14394,10.071191,10.006775,10,pineapple,10,pineapple,8.515562,10.763453
30509,10.075893,10.012474,10,pineapple,10,pineapple,8.249722,10.346437
42004,10.096755,10.003428,10,pineapple,10,pineapple,8.731153,10.892737
45274,10.086960,10.062394,10,pineapple,10,pineapple,8.645429,10.264174
49545,10.000556,10.037330,10,pineapple,10,pineapple,8.363608,10.825409
52399,10.057635,10.088057,10,pineapple,10,pineapple,8.495973,10.942862
63944,10.014061,10.073107,10,pineapple,10,pineapple,8.733331,10.562349
75344,10.082135,10.092518,10,pineapple,10,pineapple,8.083002,10.701424
77996,10.010500,10.079897,10,pineapple,10,pineapple,8.475223,10.889181
97472,10.013207,10.068015,10,pineapple,10,pineapple,8.512547,10.868174
113845,10.048850,10.098515,10,pineapple,10,pineapple,8.551282,10.928854
125605,10.043506,10.036125,4,dragon,10,pineapple,8.869323,10.105781
135663,10.072312,10.030734,10,pineapple,10,pineapple,8.704014,10.798677
142080,10.094257,10.069932,10,pineapple,10,pineapple,8.513843,10.350183
154162,10.091953,10.058000,10,pineapple,10,pineapple,8.895457,10.807365
164688,10.074573,10.021596,8,pear,8,pear,10.770729,10.780449
177955,10.014071,10.009257,10,pineapple,10,pineapple,8.714597,10.629497
179701,10.051584,10.037166,10,pineapple,10,pineapple,8.503409,10.874467
193654,10.086495,10.088663,10,pineapple,10,pineapple,8.284188,10.775202
193731,10.033738,10.004189,10,pineapple,10,pineapple,8.621842,10.526900
200679,10.069948,10.090981,10,pineapple,10,pineapple,8.749917,10.683943
219545,10.034369,10.061711,10,pineapple,10,pineapple,8.021984,10.536413
220895,10.081312,10.049383,10,pineapple,10,pineapple,8.516075,10.655802
225231,10.024340,10.062334,10,pineapple,10,pineapple,8.674720,10.673469
226098,10.030545,10.073512,10,pineapple,10,pineapple,9.099873,10.570315
230603,10.081441,10.031983,10,pineapple,10,pineapple,8.805158,10.622368
242476,10.027466,10.001026,10,pineapple,10,pineapple,8.940140,10.700421
261513,10.036570,10.074436,10,pineapple,10,pineapple,8.603515,10.753204
265810,10.007698,10.048199,2,bee,2,bee,3.932834,8.935814
266197,10.027329,10.073426,10,pineapple,10,pineapple,8.514446,10.705373
266755,10.087360,10.039427,10,pineapple,10,pineapple,9.259476,10.605852
272658,10.022120,10.078855,10,pineapple,10,pineapple,8.391970,10.698911